@media (min-width:500px) and (max-width:750px)  {
    .places-wrapper{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 600px){
    .blogs-item img{
        width: 100%;
        height: auto;
    }
}
@media (min-width: 750px) {
  .container {
    width: 100%;
    padding: 0 10rem;
  }
  .hamburger-menu {
    display: none;
  }
  .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  nav .logo a {
    font-size: 2.5rem;
  }
  nav ul {
    display: flex;
  }

  /* main section */
  main {
    background-position: 100% 100%;
    background-size: cover;
    height: 60rem;
  }
  main .main-text h1 {
    font-size: 5rem;
    font-family: monsarat;
    text-transform: capitalize;
    text-align: center;
    padding-top: 16.5rem;
    color: var(--white-color);
  }
  main .main-text p {
    font-size: 2rem;
  }
  main .main-button {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 0.3rem;
    width: 80rem;
    font-size: 1.8rem;
  }
  main .main-button ul button {
    font-size: 1.8rem;
  }
  /* about section */
  .about-wrapper {
    display: grid;
    grid-template-rows: 18rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  /* places section */
  .places .header h2 {
    font-size: 4rem;
  }
  .places .header .header-btn button {
    flex-basis: 0;
    font-size: 2rem;
  }
  .places-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 5rem;
    justify-content: space-between;
  }
  .places .header h2{
      margin: 1rem 0;
  }
  .places .header .header-btn{
      margin: 1.5rem 0;
  }
  .places-items p {
    text-transform: capitalize;
    font-size: 1.5rem;
  }
  /* blogs section */
  .blogs-heading h1{
      margin: 1rem 0;
      font-size: 4rem;
  }
  .blogs-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 30rem ;
      grid-gap: 2rem;
  }
  .blogs-item img{
      width: 100%;
      height: 100%;
  }
  .blogs-item:first-child{
      grid-row: 1/3;
  }
  .blogs-item:nth-child(2){
      grid-row: 1/2;
  }
  .blogs-item:nth-child(3){
      grid-row: 2/3;
  }

  /* review section */
  .review-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
  }
  .review-item:last-child{
      display: block;
  }

}

@media (min-width: 1100px) {
  section.about{
    margin: 10rem 0;
  }
  .about-wrapper {
    display: grid;
    grid-template-rows: 18rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
  }
  .places-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 5rem;
    justify-content: space-between;
  }

  .places-items p {
    text-transform: capitalize;
    font-size: 1.8rem;
  }
}
